<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <title>Revenue</title>
</head>
<body>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <h1>Revenue</h1>
 

    <% messages.forEach(el => {%>
        <h2>$<%=el.value%></h2>
        <h2>Wins:<%=el.wins%></h2>
        <h2>Losses:<%=el.loss%></h2>
        <h2>Money Won:$<%=el.moneyWon%></h2>
        <h2>Money Loss:$<%=el.moneyLoss%></h2>
    <%})%>



</body>
</html>



